@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.App {
  display: flex;
  justify-content: center;
  margin-top: 5.5em;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Staatliches;
  font-size: 1em;
  padding: 8px;
}

.buttons, .logout {
  margin-top: 2.7em;
  position: absolute;
  right: 5vw;
  top: 0;
}

.divider{
  display:inline-block;
  height:auto;
  width:7px;
}

.register {
  background-color: lightcoral;
}
.register:hover {
  background-color: tomato;
  transform: rotate(5deg);
}

.login {
  background-color: #8b95c9;
}
.login:hover {
  background-color: #6570a6;
  transform: rotate(-5deg);
}

.logout {
  background-color: #dc493a;
}
.logout:hover {
  background-color: #ff5d4d;
  transform: rotate(-5deg);
}

.movieMapper {
  color: #dc493a;
  font-family: 'Staatliches', cursive;
  font-size: 2.6em;
  left: 5vw;
  position: absolute;
  top: 0.2em;
  z-index: 1;
}
.movieMapper:hover {
  color: #eb5142;
}

.movieMapper::selection {
  background: violet;
}

.popup {
  display: flex;
  flex-direction: column;
  height: 310px;
  justify-content: space-around;
  width: 350px;
}

label {
  border-bottom: 1px solid coral;
  color: coral;
  font-size: 1em;
  font-family: Staatliches;
  margin: 3px 0;
  width: max-content;
}

h4, p {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  height: 240px;
  justify-content: space-around;
  width: 350px;
}

input, textarea {
  border: none;
  border-bottom: 1px solid grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

input::placeholder, textarea::placeholder {
  color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.2em; */
}

input:focus, textarea:focus {
  outline:none;
}

.submitButton {
  background-color: coral;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: Staatliches;
  font-size: 1em;
  margin-top: 5px;
  padding: 5px;
}